/* this is fo the menu */
.bg-dark {
    background-color: #174ad4 !important;
  }
  
  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
      color: rgb(247, 205, 92);
    }
    
    .navbar-dark .navbar-nav .nav-link {
      color: #fff;
    }

    .nav-item-active, .nav-item {
        font-family: 'Open Sans', sans-serif;
    }
  
    .btn-outline-success {
      color: #22fcf1;
      background-color: transparent;
      background-image: none;
      border-color: #22fcf1;
      font-family: 'Open Sans', sans-serif;
  }
  
  .btn-outline-success:hover {
      color: #97228d;
      background-color: #22fcf1;
      border-color: #97228d;
  }
  
   .container{
      height: auto;
  } 
  
  body {
    background-color: #baaff7;
    color: #333333;
  }

  h3 {
      text-align: center;
      font-size: 2em;
  }

.intro {
    padding: 2em;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.intro a {
    color: black;
}

.intro a:hover {
    color: rgb(247, 205, 92);
    text-decoration: none;
}

 .wrapper {
    padding: 2em;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    border :2px dotted #eeee;
}

.mason-layout { /* Masonry container */
    column-count: 1;
    column-gap: 1em;
  }
  
  .item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: float;
    justify-content: center;
    margin: 0 0 1em;
    width: 100%;
  }

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .mason-layout{
        columns: 2;
    }
}

@media only screen and (min-width: 1024px) {
    .mason-layout{
        columns: 3;
    }
}

.item, .content {
    border-radius: 15px;
    overflow: hidden;
  }

  .item {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    transition: filter .25s ease-in-out;
  }
  .item:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
  }

  .footer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    opacity: .25;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    transition: opacity 1s ease-in-out;
}

.footer {
    color: currentColor;
}

.footer:hover {
    opacity: .75;
}

.container{
    height: auto;
} 

.spacer{
    height: 100px;
}
